Romain_Version_DB_connect (8).json
{
  "name": "Romain Version DB connect",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -4860,
        720
      ],
      "id": "b4a9bf9d-77cd-4d56-babc-338666c06017",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {},
      "id": "fdceea85-3cf4-4fd0-b2bd-4965a812482e",
      "name": "Limit to First1",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -4260,
        560
      ]
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "dedupeValue": "={{ $json.link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -4000,
        560
      ],
      "id": "3a98763e-d05f-4ff7-b197-3fbe50cbfcaf",
      "name": "Remove Duplicates1",
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1080,
        560
      ],
      "id": "110462db-e09b-444c-8b0a-23ec775bcb4f",
      "name": "Wait1",
      "webhookId": "41f0d0ec-4fde-4728-937f-b24ca60967df"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1340,
        540
      ],
      "id": "9f89ce57-b60d-4b4f-a288-842820e9e018",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "filePath": "(Path to token)"
      },
      "name": "Read Token File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        -4660,
        40
      ],
      "id": "2e66282a-28ce-496d-afc5-f0ad73c12c86"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Convert Binary to JSON",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        -4420,
        40
      ],
      "id": "8730790d-1b0c-45f4-8d2f-7057bb5c09c5"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "access_token",
              "value": "={{ $json[\"access_token\"] }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set New Token JSON",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -3660,
        -60
      ],
      "id": "6c84db12-94e4-4107-8787-0c68f759fbfb"
    },
    {
      "parameters": {
        "fileName": "(PATH to token)",
        "options": {}
      },
      "name": "Write Token File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        -3260,
        -60
      ],
      "id": "abb055a0-60d8-4c42-99da-b2ebb9a0a782"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/debug_token",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "input_token",
              "value": "={{ $json.access_token }}"
            },
            {
              "name": "access_token",
              "value": "702055212505234|0b0cd27941b6ad2c25de0b62b15ebf94"
            }
          ]
        },
        "options": {}
      },
      "name": "Check Token Validity1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4200,
        40
      ],
      "id": "03c4fbae-ef80-4ade-af6f-08cc9d6025fe"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v18.0/oauth/access_token",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "fb_exchange_token"
            },
            {
              "name": "client_id",
              "value": "(your client id)"
            },
            {
              "name": "client_secret",
              "value": "(your client secret)"
            },
            {
              "name": "fb_exchange_token",
              "value": "={{ $('Convert Binary to JSON').item.json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Refresh Token1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3860,
        -60
      ],
      "id": "4974ed32-66c9-463e-92f3-9560cc4efb2e",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3078c1e8-87d2-4e81-83be-6711196cdd67",
              "leftValue": "={{ $json.data.is_valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4040,
        40
      ],
      "id": "bd0d10e6-d6e2-4082-a4fb-2901e55ce003",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "710f9341-bf60-40b4-b8cc-ac2e9c17add7",
              "name": "Title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "729f0aea-6765-42db-b0bf-106b8cb2a43f",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "f59b55f1-cc33-4fe8-8fc9-7db1820da733",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3460,
        560
      ],
      "id": "d0ed57cb-b8c9-43a2-9ee3-85b1fbf88409",
      "name": "Edit Fields2",
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini-2024-07-18",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI-2024-07-18"
        },
        "messages": {
          "values": [
            {
              "content": "=[\n  {\n    \"role\": \"system\",\n    \"content\": \"Tu es un assistant qui résume très brièvement les articles pour un post Facebook.\"\n  },\n  {\n    \"role\": \"user\",\n    \"content\": \"Résume en une phrase cet article : {{ $json.content }}\"\n  }\n]\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -3280,
        560
      ],
      "id": "985f525a-c140-47aa-9a34-aa8aaacfa5fc",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": ""
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4b78ac04-a9e9-4c0c-8a06-cea0c4994b48",
              "name": "post_facebook",
              "value": "={{ $json.message.content }}",
              "type": "string"
            },
            {
              "id": "47e9f5a9-f3fb-40fe-ae38-c0a483741fb4",
              "name": "link",
              "value": "={{ $('Edit Fields2').item.json.link }}",
              "type": "string"
            },
            {
              "id": "da67e19b-c8da-4ea6-b01e-31d312570902",
              "name": "Title",
              "value": "={{ $('Edit Fields2').item.json.Title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2940,
        560
      ],
      "id": "6aac1522-5046-45c7-ad97-e9f3111dd134",
      "name": "Edit Fields3",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "05a50c29-7bfb-44a3-b2b4-31592b4c9c46",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        460,
        320
      ],
      "id": "d13bee31-9749-4353-8d61-cf5a96d91244",
      "name": "If1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -4860,
        40
      ],
      "id": "8e17edf8-0bda-45a3-a81f-d685257ae285",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "content": "**Token Manager**\n\nverifier le token si il est éxpiré \n",
        "height": 420,
        "width": 1820,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4900,
        -160
      ],
      "typeVersion": 1,
      "id": "c05894f8-fbad-4d6a-bc54-f946a70d4508",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Setup Workflow\nsetup la première partie du workflow récupérer l'article et récupérer uniquement le champ voulu",
        "height": 600,
        "width": 1380
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4900,
        280
      ],
      "typeVersion": 1,
      "id": "006fc1d4-c781-4e11-ac2e-cd7312567825",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## format and stock\n\nFormaté la structure de donnée et préparé le post\n",
        "height": 600,
        "width": 680,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3500,
        280
      ],
      "typeVersion": 1,
      "id": "96c1045d-8e2e-4718-8bfe-2281f4f309bd",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Loop\nEnvoyé les post et changé les états en database",
        "height": 820,
        "width": 3080,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1940,
        60
      ],
      "typeVersion": 1,
      "id": "a83f26af-41fb-4103-92f5-a508a8e4b63d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "path": "aba93540-c450-42f9-8482-bb2ca60632dc",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4860,
        400
      ],
      "id": "2d8d46bc-c626-458f-9c2b-2bede9503f92",
      "name": "receive-start",
      "webhookId": "aba93540-c450-42f9-8482-bb2ca60632dc",
      "notesInFlow": false,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "post_targets",
          "mode": "list",
          "cachedResultName": "post_targets"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "post_id",
        "valueToMatchOn": "={{ $('MySQL2').item.json.post_id }}",
        "valuesToSend": {
          "values": [
            {
              "column": "send_status",
              "value": "send"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        760,
        520
      ],
      "id": "f78f2f49-bcd9-4abc-a37f-8f7ced554563",
      "name": "Change status",
      "credentials": {
        "mySql": {
          "id": "pg2V7fqTyl7K2PJw",
          "name": "MySQL Db n8n"
        }
      }
    },
    {
      "parameters": {
        "filePath": "(path)"
      },
      "name": "Read Token File1",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        -1860,
        540
      ],
      "id": "788b3d35-bc81-4c7a-b368-ee72d96825d0"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Convert Binary to JSON1",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        -1620,
        540
      ],
      "id": "e91e4505-c9fc-4bc3-89db-79caae9f6a0b"
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "options": {}
      },
      "name": "Convert Binary to JSON3",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        -3460,
        -60
      ],
      "id": "18fed199-c3e1-46f1-8e23-7133c504d996"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('MySQL').item.json.social_network_id }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "db14eaed-ee88-4240-83f4-cdecbdf85916"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9107e4e0-688c-49ca-a4d4-df6bb9dd35eb",
                    "leftValue": "={{ $('MySQL').item.json.social_network_id }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fe68a4c6-a213-4f04-8209-edcfa1ffb7cb",
                    "leftValue": "={{ $('MySQL').item.json.social_network_id }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -420,
        320
      ],
      "id": "b3f43eee-bbe2-4993-a44f-d4b93aee2cd7",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/220558674732130/feed",
        "authentication": "genericCredentialType",
        "genericAuthType": "={{ $('Convert Binary to JSON1').item.json.access_token }}",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "link",
              "value": "={{ $json.link }}"
            },
            {
              "name": "access_token",
              "value": "={{ $('Convert Binary to JSON1').item.json.access_token }}"
            },
            {
              "name": "message",
              "value": "={{ $('Edit Fields3').item.json.post_facebook }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        100,
        500
      ],
      "id": "27b20197-7be3-4abe-89b1-9eb1985936f8",
      "name": "HTTP Request",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "executeOnce": false,
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/220558674732130/feed",
        "authentication": "genericCredentialType",
        "genericAuthType": "={{ $json.access_token }}",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "link",
              "value": "={{ $('MySQL1').item.json.link }}"
            },
            {
              "name": "access_token",
              "value": "={{ $json.access_token }}"
            },
            {
              "name": "message",
              "value": "={{ $('Read Token File1').item.json.link }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        100,
        320
      ],
      "id": "e0c7b4ef-3b7a-4e0d-bfa1-fd4cf8b43187",
      "name": "HTTP Request3",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "executeOnce": false,
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/220558674732130/feed",
        "authentication": "genericCredentialType",
        "genericAuthType": "={{ $json.access_token }}",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "link",
              "value": "={{ $('MySQL1').item.json.link }}"
            },
            {
              "name": "access_token",
              "value": "={{ $json.access_token }}"
            },
            {
              "name": "message",
              "value": "={{ $('Read Token File1').item.json.link }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        140,
        140
      ],
      "id": "7b58e03b-27a6-4a26-8db3-eb64d325de53",
      "name": "HTTP Request4",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"social_network_id\": [1, 2],\n  \"priority\": \"1\",\n  \"mode\" : \"auto\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3720,
        560
      ],
      "id": "8e173f4b-4203-44eb-adaa-79f2a4ca480c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -4860,
        560
      ],
      "id": "20d939d8-9394-4018-a92a-724879c4cf72",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "url": "(your rss feed)",
        "options": {}
      },
      "id": "2f6a9300-d9bf-4749-9759-08eb290821fe",
      "name": "RSS Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -4520,
        560
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "posts",
          "mode": "list",
          "cachedResultName": "posts"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "link",
        "valueToMatchOn": "={{ $('RSS Feed').item.json.link }}",
        "valuesToSend": {
          "values": [
            {
              "column": "priority",
              "value": "={{ $json.priority }}"
            },
            {
              "column": "mode",
              "value": "={{ $json.mode }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -2760,
        560
      ],
      "id": "2af57120-ba6e-4023-bb7c-2fe07d85c7be",
      "name": "Fill post target2",
      "credentials": {
        "mySql": {
          "id": "pg2V7fqTyl7K2PJw",
          "name": "MySQL Db n8n"
        }
      }
    },
    {
      "parameters": {
        "content": "## format and stockStocké les données en database\n",
        "height": 600,
        "width": 840,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2800,
        280
      ],
      "typeVersion": 1,
      "id": "dfc97f9d-37ba-475d-83f1-df5941f7b33d",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT social_network_id FROM post_targets WHERE post_id = {{ $json.post_id }};",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -760,
        320
      ],
      "id": "9dcb1c84-91ed-4abd-adfe-eddef1d9717e",
      "name": "MySQL",
      "credentials": {
        "mySql": {
          "id": "pg2V7fqTyl7K2PJw",
          "name": "MySQL Db n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT post_id, send_status FROM post_targets WHERE send_status = 'pending';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -960,
        320
      ],
      "id": "a14b4ced-9d7b-4694-875f-3046bb13b216",
      "name": "MySQL2",
      "credentials": {
        "mySql": {
          "id": "pg2V7fqTyl7K2PJw",
          "name": "MySQL Db n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT link FROM posts WHERE id = {{ $('MySQL2').item.json.post_id }};",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -600,
        320
      ],
      "id": "7ca06d1d-c7db-4d9d-a946-f2e689abeb77",
      "name": "MySQL1",
      "credentials": {
        "mySql": {
          "id": "pg2V7fqTyl7K2PJw",
          "name": "MySQL Db n8n"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"✅ Un nouvel article :{{ $json.link }} \"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        500
      ],
      "id": "e038f491-e55c-4523-8125-4214dfe5827d",
      "name": "To Microsoft teams"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"✅ Un nouvel article 22 :{{ $json.link }} \"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        320
      ],
      "id": "64b19bd7-5e50-487e-8c12-37088376e888",
      "name": "To Microsoft teams1"
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "insertId",
              "value": "667"
            }
          ]
        },
        "options": {}
      },
      "name": "Set InsertId",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -2560,
        640
      ],
      "id": "95e13f08-ce04-4129-a31b-ab048b1d8c95"
    },
    {
      "parameters": {},
      "name": "Merge InsertId + Social IDs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        -2380,
        540
      ],
      "id": "74513745-343a-4082-bfd1-519e9fe1690d"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "social_network_id",
              "value": "[1,2]"
            },
            {
              "name": "priority",
              "value": "1"
            },
            {
              "name": "mode",
              "value": "auto"
            }
          ]
        },
        "options": {}
      },
      "name": "Edit Fields4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -2560,
        440
      ],
      "id": "82ecb27f-4568-4b36-af07-c08246bd98b5"
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "post_targets",
          "mode": "list",
          "cachedResultName": "post_targets"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "post_id",
        "valueToMatchOn": "={{ $('Fill post target2').item.json.data.insertId }}",
        "valuesToSend": {
          "values": [
            {
              "column": "social_network_id",
              "value": "={{ $json.social_network_id }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -2100,
        540
      ],
      "id": "c9908efd-2260-4a65-9a86-b6a7c4fc5af7",
      "name": "Fill post target3",
      "credentials": {
        "mySql": {
          "id": "pg2V7fqTyl7K2PJw",
          "name": "MySQL Db n8n"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "social_network_id",
        "include": "={{ $json.social_network_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2240,
        540
      ],
      "id": "a8f0ae0c-3923-4be3-8eaf-f12114d66e78",
      "name": "Split Out1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to First1": {
      "main": [
        [
          {
            "node": "Remove Duplicates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "MySQL2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Token File": {
      "main": [
        [
          {
            "node": "Convert Binary to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Binary to JSON": {
      "main": [
        [
          {
            "node": "Check Token Validity1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set New Token JSON": {
      "main": [
        [
          {
            "node": "Convert Binary to JSON3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Token Validity1": {
      "main": [
        []
      ]
    },
    "Refresh Token1": {
      "main": [
        [
          {
            "node": "Set New Token JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Refresh Token1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Fill post target2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Token File": {
      "main": [
        []
      ]
    },
    "Remove Duplicates1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Read Token File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "receive-start": {
      "main": [
        [
          {
            "node": "RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "Change status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change status": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Token File1": {
      "main": [
        [
          {
            "node": "Convert Binary to JSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Binary to JSON1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Binary to JSON3": {
      "main": [
        [
          {
            "node": "Write Token File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "To Microsoft teams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "To Microsoft teams1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed": {
      "main": [
        [
          {
            "node": "Limit to First1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fill post target2": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set InsertId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "MySQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL2": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To Microsoft teams": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To Microsoft teams1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set InsertId": {
      "main": [
        [
          {
            "node": "Merge InsertId + Social IDs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge InsertId + Social IDs": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge InsertId + Social IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Fill post target3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fill post target3": {
      "main": [
        [
          {
            "node": "Read Token File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "15f1d8d5-3492-45b9-986f-a4d4d3e35a12",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "93c2261424f7e6523ffe985253e96ff0671cdbd2e99ea6d9a90b1beec7fc2ec0"
  },
  "id": "NAJM8kUYHE5JwAP9",
  "tags": []
}